$Recycle.Bin/
.DS_Store
.classpath
.gradle/
.idea/
.project
.settings/
.tern-project
Thumbs.db
bin/
build/
buildNumber.properties
dependency-reduced-pom.xml
ehthumbs.db
ehthumbs_vista.db
lost+found/
pom.xml.backup
pom.xml.branch
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
*.bak
*.bz2
*.class
*.log
*.sw[op]
*.tar
*.zip
*.[7gx]z
*.[ejrw]ar
*~
**/.mvn/timing.properties
