$RECYCLE.BIN/
.AppleDB/
.AppleDesktop/
.AppleDouble/
.DS_Store
.DocumentRevisions-V100/
.LSOverride
.Spotlight-V100/
.TemporaryItems
.Trash-*/
.Trashes/
.VolumeIcon.icns
.apdisk
.checkstyle
.classpath
.data/
.externalToolBuilders/
.factorypath
.fseventsd
.gradle/
.idea/
.idea_modules/
.metadata/
.pmd
.profiler/
.project
.recommenders/
.settings/
.shelf/
.tern-project
._*
Network Trash Folder/
RemoteSystemsTempFiles/
Temporary Items/
Thumbs.db
bin/
build/
buildNumber.properties
classes/
dependency-reduced-pom.xml
ehthumbs.db
ehthumbs_vista.db
lost+found/
pom.xml.backup
pom.xml.branch
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
*.bak
*.bz2
*.class
*.log
*.orig
*.rej
*.sw[op]
*.tar
*.tgz
*.tmp
*.zip
*.[7gx]z
*.[ejrw]ar
*~
**/.mvn/timing.properties
